li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  li button {
    background-color: #dc3545;
    margin-left: 1px; 
  }
  
  li button:hover {
    background-color: #c82333;
  }
  