body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 400px;
}

h1 {
  text-align: center;
}

form, ul {
  margin-top: 20px;
}

input, textarea, select, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: rgb(137, 134, 134);
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgba(137, 134, 134, 0.579);
}

ul {
  list-style-type: none;
  padding: 0;
}
